#launch-modal {
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
    padding:10px 14px;
}
.close-modal-bg {
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}
.modal-wrapper {
    z-index: 5;
    padding: 10px;
    width: 380px;
    min-height: 180px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 8px;
    position: relative;
    opacity: 0;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.close-modal-bg, .modal-wrapper {
    transition: all 0.5s ease;
}
.modal-open, .modal-close {
    overflow: hidden;
}
.close-modal-bg.in, .modal-wrapper.in {
    opacity: 1;
}
.modal-close .modal-wrapper, .modal-close .close-modal-bg {
    opacity: 0;
}
#main-modal h2 {
    padding: 0 0 12px;
    margin: 0;
}
#main-modal p {
    padding: 0 0 12px;
    margin: 0;
}
#main-modal ul {
    padding-top: 0;
    padding-bottom: 12px;
    margin-top: 0;
    margin-bottom: 0;
}
.modal-x {
    position: absolute;
    top: -20px;
    right: -20px;
    font-weight: bold;
    background-color: #ccc;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.3);
}
