.close-modal-bg {
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: block;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}
.modal-wrapper {
    z-index: 5;
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: #ff0000;
    position: relative;
    opacity: 0;
}
.close-modal-bg, .modal-wrapper {
    transition: all 0.5s ease;
}
.close-modal-bg.fadeIn, .modal-wrapper.fadeIn {
    opacity: 1;
}
.modal-close .modal-wrapper, .modal-close .close-modal-bg {
    opacity: 0;
}
